In [2]:
import pandas as pd
import csv
import os

In [3]:
#FROM NOTES: energy source generation:annual generation of energy by state (eia.gov)
# SOURCE: https://www.eia.gov/electricity/data/state/

eiafile = os.path.join('..','Resources', 'eia.xls')
eai_df = pd.read_excel(eiafile, encoding='UTF-8')
eai_df.head(10)

,YEAR,STATE,TYPE OF PRODUCER,ENERGY SOURCE,GENERATION (Megawatthours)
0,1990,AK,Total Electric Power Industry,Total,5599506.0
1,1990,AK,Total Electric Power Industry,Coal,510573.0
2,1990,AK,Total Electric Power Industry,Hydroelectric Conventional,974521.0
3,1990,AK,Total Electric Power Industry,Natural Gas,3466261.0
4,1990,AK,Total Electric Power Industry,Petroleum,497116.0
5,1990,AK,Total Electric Power Industry,Wind,0.0
6,1990,AK,Total Electric Power Industry,Wood and Wood Derived Fuels,151035.0
7,1990,AK,"Electric Generators, Electric Utilities",Total,4493024.0
8,1990,AK,"Electric Generators, Electric Utilities",Coal,311960.0
9,1990,AK,"Electric Generators, Electric Utilities",Hydroelectric Conventional,974521.0

In [59]:
#isolate type of producer
scotts_total_power = eai_df[eai_df["TYPE OF PRODUCER"]=="Total Electric Power Industry"]
scotts_total_power.head()

,YEAR,STATE,TYPE OF PRODUCER,ENERGY SOURCE,GENERATION (Megawatthours)
0,1990,AK,Total Electric Power Industry,Total,5599506.0
1,1990,AK,Total Electric Power Industry,Coal,510573.0
2,1990,AK,Total Electric Power Industry,Hydroelectric Conventional,974521.0
3,1990,AK,Total Electric Power Industry,Natural Gas,3466261.0
4,1990,AK,Total Electric Power Industry,Petroleum,497116.0

In [67]:
#group by the important stuff
scotts_total_power_df = scotts_total_power.groupby(["YEAR", "STATE", "ENERGY SOURCE"]).sum()
scotts_total_power_df.head(10000)

                                           GENERATION (Megawatthours)
YEAR STATE ENERGY SOURCE
1990 AK    Coal                                             510573.00
           Hydroelectric Conventional                       974521.00
           Natural Gas                                     3466261.00
           Petroleum                                        497116.00
           Total                                           5599506.00
           Wind                                                  0.00
           Wood and Wood Derived Fuels                      151035.00
     AL    Coal                                           53658115.00
           Hydroelectric Conventional                     10366507.00
           Natural Gas                                     1020714.00
           Nuclear                                        12051882.00
           Other Biomass                                     47503.00
           Other Gases                                      269476.00
           Petroleum                                        138089.00
           Total                                          79652133.00
           Wood and Wood Derived Fuels                     2099847.00
     AR    Coal                                           19207935.00
           Hydroelectric Conventional                      3654653.00
           Natural Gas                                     3578573.00
           Nuclear                                        11282053.00
           Other Biomass                                     15389.00
           Petroleum                                         79979.00
           Pumped Storage                                    42972.00
           Total                                          39099598.00
           Wood and Wood Derived Fuels                     1238044.00
     AZ    Coal                                           31915610.00
           Hydroelectric Conventional                      7417576.00
           Natural Gas                                     2333900.00
           Nuclear                                        20597689.00
           Petroleum                                        151867.00
...                                                               ...
2011 HI    Solar Thermal and Photovoltaic                     3593.00
           Total                                          10723332.91
           Wind                                             340812.00
           Wood and Wood Derived Fuels                           0.00
     IA    Coal                                           38229359.98
           Hydroelectric Conventional                       925352.00
           Natural Gas                                      991182.61
           Nuclear                                         5215229.00
           Other Biomass                                    160591.71
           Petroleum                                        141020.44
           Total                                          56371912.65
           Wind                                           10709176.91
     ID    Coal                                              83411.99
           Geothermal                                        63490.00
           Hydroelectric Conventional                     13404799.00
           Natural Gas                                     1110743.69
           Other                                             77631.00
           Other Biomass                                     47617.90
           Petroleum                                            26.00
           Total                                          16568785.90
           Wind                                            1306682.00
           Wood and Wood Derived Fuels                      474384.32
     IL    Coal                                           90013325.38
           Hydroelectric Conventional                       140462.00
           Natural Gas                                     5955799.87
           Nuclear                                        95823196.00
           Other                                            298862.27
           Other Biomass                                    637580.44
           Other Gases                                      318548.51
           Petroleum                                         84240.32

[10000 rows x 1 columns]

In [68]:
#isolate type of energy source
Coal =scotts_total_power[scotts_total_power["ENERGY SOURCE"] =="Coal"] 
Petroleum =scotts_total_power[scotts_total_power["ENERGY SOURCE"] =="Petroleum"] 
Nuclear =scotts_total_power[scotts_total_power["ENERGY SOURCE"] =="Nuclear"]
Natural_gas =scotts_total_power[scotts_total_power["ENERGY SOURCE"] =="Natural Gas"] 
Hydroelectric =scotts_total_power[scotts_total_power["ENERGY SOURCE"] =="Hydroelectric Conventional"] 
Other_biomass =scotts_total_power[scotts_total_power["ENERGY SOURCE"] =="Other Biomass"] 
Other =scotts_total_power[scotts_total_power["ENERGY SOURCE"] =="Other"]
Total =scotts_total_power[scotts_total_power["ENERGY SOURCE"] =="Total"]

In [70]:
#group the types of energy sources by state
Coal_group = Coal.groupby(["YEAR","STATE"])
Petroleum_group =Petroleum.groupby(["YEAR","STATE"])
Nuclear_group =Nuclear.groupby(["YEAR","STATE"])
Natural_gas_group =Natural_gas.groupby(["YEAR","STATE"])
Hydroelectric_group =Hydroelectric.groupby(["YEAR","STATE"])
Other_biomass_group =Other_biomass.groupby(["YEAR","STATE"])
Other_group =Other.groupby(["YEAR","STATE"])
Total_group =Total.groupby(["YEAR","STATE"])

In [71]:
#lets see what the cleaned data looks like
Coal_group.head(50)

,YEAR,STATE,TYPE OF PRODUCER,ENERGY SOURCE,GENERATION (Megawatthours)
1,1990,AK,Total Electric Power Industry,Coal,5.105730e+05
21,1990,AL,Total Electric Power Industry,Coal,5.365812e+07
50,1990,AR,Total Electric Power Industry,Coal,1.920794e+07
76,1990,AZ,Total Electric Power Industry,Coal,3.191561e+07
99,1990,CA,Total Electric Power Industry,Coal,2.637677e+06
154,1990,CO,Total Electric Power Industry,Coal,2.981498e+07
180,1990,CT,Total Electric Power Industry,Coal,3.594645e+06
215,1990,DC,Total Electric Power Industry,Coal,0.000000e+00
222,1990,DE,Total Electric Power Industry,Coal,5.113479e+06
238,1990,FL,Total Electric Power Industry,Coal,6.010026e+07
272,1990,GA,Total Electric Power Industry,Coal,6.854569e+07
304,1990,HI,Total Electric Power Industry,Coal,2.381000e+03
331,1990,IA,Total Electric Power Industry,Coal,2.575194e+07
361,1990,ID,Total Electric Power Industry,Coal,4.437100e+04
381,1990,IL,Total Electric Power Industry,Coal,5.496602e+07
412,1990,IN,Total Electric Power Industry,Coal,9.692555e+07
434,1990,KS,Total Electric Power Industry,Coal,2.372026e+07
453,1990,KY,Total Electric Power Industry,Coal,7.050046e+07
463,1990,LA,Total Electric Power Industry,Coal,1.785669e+07
496,1990,MA,Total Electric Power Industry,Coal,1.136589e+07
535,1990,MD,Total Electric Power Industry,Coal,2.350986e+07
568,1990,ME,Total Electric Power Industry,Coal,4.532180e+05
602,1990,MI,Total Electric Power Industry,Coal,6.706687e+07
642,1990,MN,Total Electric Power Industry,Coal,2.817628e+07
675,1990,MO,Total Electric Power Industry,Coal,4.879679e+07
697,1990,MS,Total Electric Power Industry,Coal,9.526527e+06
713,1990,MT,Total Electric Power Industry,Coal,1.511962e+07
734,1990,NC,Total Electric Power Industry,Coal,4.982160e+07
769,1990,ND,Total Electric Power Industry,Coal,2.518900e+07
783,1990,NE,Total Electric Power Industry,Coal,1.266115e+07
...,...,...,...,...,...
48246,2017,ME,Total Electric Power Industry,Coal,6.793500e+04
48288,2017,MI,Total Electric Power Industry,Coal,4.202055e+07
48346,2017,MN,Total Electric Power Industry,Coal,2.278190e+07
48398,2017,MO,Total Electric Power Industry,Coal,6.751894e+07
48444,2017,MS,Total Electric Power Industry,Coal,4.628230e+06
48472,2017,MT,Total Electric Power Industry,Coal,1.386410e+07
48505,2017,NC,Total Electric Power Industry,Coal,3.446017e+07
48557,2017,ND,Total Electric Power Industry,Coal,2.675646e+07
48583,2017,NE,Total Electric Power Industry,Coal,2.117356e+07
48614,2017,NH,Total Electric Power Industry,Coal,2.872810e+05
48647,2017,NJ,Total Electric Power Industry,Coal,1.216091e+06
48693,2017,NM,Total Electric Power Industry,Coal,1.841448e+07
48725,2017,NV,Total Electric Power Industry,Coal,1.865592e+06
48762,2017,NY,Total Electric Power Industry,Coal,7.702960e+05
48816,2017,OH,Total Electric Power Industry,Coal,6.834364e+07
48869,2017,OK,Total Electric Power Industry,Coal,1.736785e+07
48906,2017,OR,Total Electric Power Industry,Coal,1.728105e+06
48949,2017,PA,Total Electric Power Industry,Coal,4.763427e+07
49002,2017,RI,Total Electric Power Industry,Coal,0.000000e+00
49027,2017,SC,Total Electric Power Industry,Coal,1.815174e+07
49070,2017,SD,Total Electric Power Industry,Coal,2.062462e+06
49091,2017,TN,Total Electric Power Industry,Coal,2.771528e+07
49133,2017,TX,Total Electric Power Industry,Coal,1.346484e+08
49184,2017,US-Total,Total Electric Power Industry,Coal,1.205835e+09
49257,2017,UT,Total Electric Power Industry,Coal,2.638957e+07
49299,2017,VA,Total Electric Power Industry,Coal,1.072642e+07
49374,2017,WA,Total Electric Power Industry,Coal,5.489503e+06
49420,2017,WI,Total Electric Power Industry,Coal,3.585222e+07
49467,2017,WV,Total Electric Power Industry,Coal,6.834901e+07
49495,2017,WY,Total Electric Power Industry,Coal,4.006857e+07

In [56]:
#loop through years
Years = [1990]

for scott in Years:
    Coal_year =Coal[Coal["YEAR"] ==scott] 
    Petroleum_year =Petroleum[Petroleum["YEAR"] == scott] 
    Nuclear_year =Nuclear[Nuclear["YEAR"] == scott]
    Natural_gas_year =Natural_gas[Natural_gas["YEAR"] == scott] 
    Hydroelectric_year =Hydroelectric[Hydroelectric["YEAR"] ==scott] 
    Other_biomass_year =Other_biomass[Other_biomass["YEAR"] ==scott] 
    Other_year =Other[scotts_total_power["YEAR"] ==scott]
    Total_year =Total[Total["YEAR"] ==scott]

/Users/scottmiller/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel/__main__.py:11: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [57]:
Coal_year.head(51)

,YEAR,STATE,TYPE OF PRODUCER,ENERGY SOURCE,GENERATION (Megawatthours)
1,1990,AK,Total Electric Power Industry,Coal,5.105730e+05
21,1990,AL,Total Electric Power Industry,Coal,5.365812e+07
50,1990,AR,Total Electric Power Industry,Coal,1.920794e+07
76,1990,AZ,Total Electric Power Industry,Coal,3.191561e+07
99,1990,CA,Total Electric Power Industry,Coal,2.637677e+06
154,1990,CO,Total Electric Power Industry,Coal,2.981498e+07
180,1990,CT,Total Electric Power Industry,Coal,3.594645e+06
215,1990,DC,Total Electric Power Industry,Coal,0.000000e+00
222,1990,DE,Total Electric Power Industry,Coal,5.113479e+06
238,1990,FL,Total Electric Power Industry,Coal,6.010026e+07
272,1990,GA,Total Electric Power Industry,Coal,6.854569e+07
304,1990,HI,Total Electric Power Industry,Coal,2.381000e+03
331,1990,IA,Total Electric Power Industry,Coal,2.575194e+07
361,1990,ID,Total Electric Power Industry,Coal,4.437100e+04
381,1990,IL,Total Electric Power Industry,Coal,5.496602e+07
412,1990,IN,Total Electric Power Industry,Coal,9.692555e+07
434,1990,KS,Total Electric Power Industry,Coal,2.372026e+07
453,1990,KY,Total Electric Power Industry,Coal,7.050046e+07
463,1990,LA,Total Electric Power Industry,Coal,1.785669e+07
496,1990,MA,Total Electric Power Industry,Coal,1.136589e+07
535,1990,MD,Total Electric Power Industry,Coal,2.350986e+07
568,1990,ME,Total Electric Power Industry,Coal,4.532180e+05
602,1990,MI,Total Electric Power Industry,Coal,6.706687e+07
642,1990,MN,Total Electric Power Industry,Coal,2.817628e+07
675,1990,MO,Total Electric Power Industry,Coal,4.879679e+07
697,1990,MS,Total Electric Power Industry,Coal,9.526527e+06
713,1990,MT,Total Electric Power Industry,Coal,1.511962e+07
734,1990,NC,Total Electric Power Industry,Coal,4.982160e+07
769,1990,ND,Total Electric Power Industry,Coal,2.518900e+07
783,1990,NE,Total Electric Power Industry,Coal,1.266115e+07
798,1990,NH,Total Electric Power Industry,Coal,2.959203e+06
826,1990,NJ,Total Electric Power Industry,Coal,7.057820e+06
858,1990,NM,Total Electric Power Industry,Coal,2.582693e+07
877,1990,NV,Total Electric Power Industry,Coal,1.505328e+07
891,1990,NY,Total Electric Power Industry,Coal,2.591305e+07
933,1990,OH,Total Electric Power Industry,Coal,1.158326e+08
965,1990,OK,Total Electric Power Industry,Coal,2.565535e+07
992,1990,OR,Total Electric Power Industry,Coal,1.317344e+06
1022,1990,PA,Total Electric Power Industry,Coal,1.066772e+08
1063,1990,RI,Total Electric Power Industry,Coal,0.000000e+00
1083,1990,SC,Total Electric Power Industry,Coal,2.341187e+07
1112,1990,SD,Total Electric Power Industry,Coal,2.472514e+06
1122,1990,TN,Total Electric Power Industry,Coal,5.182561e+07
1152,1990,TX,Total Electric Power Industry,Coal,1.209214e+08
1190,1990,US-TOTAL,Total Electric Power Industry,Coal,1.594011e+09
1252,1990,UT,Total Electric Power Industry,Coal,3.152293e+07
1277,1990,VA,Total Electric Power Industry,Coal,2.389990e+07
1330,1990,WA,Total Electric Power Industry,Coal,7.390279e+06
1367,1990,WI,Total Electric Power Industry,Coal,3.316894e+07
1406,1990,WV,Total Electric Power Industry,Coal,7.764337e+07
1427,1990,WY,Total Electric Power Industry,Coal,3.890847e+07

In [ ]:
list(scotts_group_eai_df.columns.values)

In [26]:
Years = [1990,
1991,
1992,
1993,
1994,
1995,
1996,
1997,
1998,
1999,
2000,
2001,
2002,
2003,
2004,
2005,
2006,
2007,
2008,
2009,
2010,
2011,
2012,
2013,
2014,
2015]

       YEAR     STATE ENERGY SOURCE  GENERATION (Megawatthours)
1      1990        AK          Coal                5.105730e+05
8      1990        AK          Coal                3.119600e+05
18     1990        AK          Coal                1.986130e+05
21     1990        AL          Coal                5.365812e+07
33     1990        AL          Coal                5.330128e+07
39     1990        AL          Coal                3.142410e+05
46     1990        AL          Coal                4.259800e+04
50     1990        AR          Coal                1.920794e+07
59     1990        AR          Coal                1.916099e+07
66     1990        AR          Coal                4.694600e+04
76     1990        AZ          Coal                3.191561e+07
84     1990        AZ          Coal                3.163604e+07
91     1990        AZ          Coal                2.795730e+05
99     1990        CA          Coal                2.637677e+06
113    1990        CA          Coal                1.117850e+05
134    1990        CA          Coal                1.024772e+06
142    1990        CA          Coal                1.501120e+06
154    1990        CO          Coal                2.981498e+07
164    1990        CO          Coal                2.960274e+07
174    1990        CO          Coal                2.122450e+05
180    1990        CT          Coal                3.594645e+06
193    1990        CT          Coal                2.351049e+06
206    1990        CT          Coal                1.243596e+06
215    1990        DC          Coal                0.000000e+00
220    1990        DC          Coal                0.000000e+00
222    1990        DE          Coal                5.113479e+06
228    1990        DE          Coal                4.904473e+06
232    1990        DE          Coal                2.090060e+05
238    1990        FL          Coal                6.010026e+07
252    1990        FL          Coal                5.907320e+07
...     ...       ...           ...                         ...
2551   1991        SC          Coal                2.382134e+07
2564   1991        SC          Coal                2.316581e+07
2584   1991        SD          Coal                2.727087e+06
2589   1991        SD          Coal                2.727087e+06
2594   1991        TN          Coal                4.823673e+07
2623   1991        TX          Coal                1.208451e+08
2636   1991        TX          Coal                1.180851e+08
2724   1991        UT          Coal                2.888760e+07
2734   1991        UT          Coal                2.888391e+07
2804   1991        WA          Coal                7.944779e+06
2876   1991        WV          Coal                7.186781e+07
2883   1991        WV          Coal                1.188940e+05
2902   1991        WY          Coal                3.808134e+07
2909   1991        WY          Coal                3.786258e+07
3143   1992        DC          Coal                0.000000e+00
3292   1992        ID          Coal                4.437100e+04
3370   1992        KS          Coal                2.215274e+07
3388   1992        KY          Coal                7.347631e+07
3743   1992        NH          Coal                3.187087e+06
3772   1992        NJ          Coal                5.409083e+06
3804   1992        NM          Coal                2.534841e+07
3823   1992        NV          Coal                1.644317e+07
4017   1992        RI          Coal                0.000000e+00
4073   1992        SD          Coal                2.626290e+06
20576  2003                    Coal                0.000000e+00
38888  2012  US-Total          Coal                1.514043e+09
38902  2012  US-Total          Coal                1.260311e+07
38913  2012  US-Total          Coal                8.829800e+05
38924  2012  US-Total          Coal                2.224096e+07
38932  2012  US-Total          Coal                3.318355e+08

[261 rows x 4 columns]

In [3]:
# FROM NOTES: health respiratory data: Mortality rate for respiratory diseases from 1980-2014 (globalhealthdataexchange)
# SOURCE: http://ghdx.healthdata.org/record/united-states-chronic-respiratory-disease-mortality-rates-county-1980-2014

healthfile = os.path.join('..','Resources', 'us_resp_mort.xlsx')
health_df = pd.read_excel(healthfile, encoding='UTF-8')
health_df.head()

,Chronic respiratory diseases,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,Location,FIPS,"Mortality Rate, 1980*","Mortality Rate, 1985*","Mortality Rate, 1990*","Mortality Rate, 1995*","Mortality Rate, 2000*","Mortality Rate, 2005*","Mortality Rate, 2010*","Mortality Rate, 2014*","% Change in Mortality Rate, 1980-2014"
1,United States,NaN,"40.79 (39.80, 41.77)","42.99 (42.10, 43.90)","44.94 (44.08, 45.93)","50.07 (48.98, 51.23)","54.56 (53.34, 55.74)","54.58 (53.39, 55.85)","52.92 (51.72, 54.16)","52.92 (51.60, 54.36)","29.73 (25.47, 33.83)"
2,Alabama,1,"42.43 (41.22, 43.60)","46.29 (45.24, 47.34)","49.95 (48.86, 51.12)","57.00 (55.78, 58.36)","65.65 (64.23, 67.09)","69.21 (67.66, 70.75)","70.86 (69.27, 72.46)","73.44 (71.54, 75.49)","73.08 (67.09, 79.45)"
3,"Autauga County, Alabama",1001,"46.56 (42.86, 50.68)","50.68 (47.16, 54.42)","55.55 (52.19, 59.07)","63.21 (59.85, 66.62)","71.77 (68.27, 75.56)","77.13 (73.44, 81.17)","77.75 (73.63, 81.85)","81.79 (77.37, 86.77)","75.67 (58.34, 95.40)"
4,"Baldwin County, Alabama",1003,"37.15 (34.89, 39.40)","39.46 (37.38, 41.68)","42.97 (40.88, 45.19)","48.15 (46.05, 50.62)","52.07 (49.85, 54.48)","52.56 (50.47, 54.77)","55.12 (52.87, 57.56)","54.28 (51.92, 56.65)","46.10 (35.48, 59.57)"

In [4]:
# FROM NOTES: labor/wages: income by year from 1984-2017 (census.gov)
# SOURCE: https://www.census.gov/data/tables/time-series/demo/income-poverty/historical-income-households.html
#     Table H-8. Median Household Income by State

incomefile = os.path.join('..','Resources', 'median_income.xls')
income_df = pd.read_excel(incomefile, encoding='UTF-8')
income_df.head(15)

,"Table with row headers in column A and column headers in rows 5 and 6, and 60 and 61",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70
0,Table H-8. Median Household Income by State: ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,(Households as of March of the following year....,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CURRENT DOLLARS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,State,2017,NaN,2016,NaN,2015,NaN,2014,NaN,2013 (39),...,1988,NaN,1987 (21),NaN,1986,NaN,1985 (20),NaN,1984 (19),NaN
4,NaN,Median\nincome,Standard\nerror,Median\nincome,Standard\nerror,Median\nincome,Standard\nerror,Median\nincome,Standard\nerror,Median\nincome,...,Median\nincome,Standard\nerror,Median\nincome,Standard\nerror,Median\nincome,Standard\nerror,Median\nincome,Standard\nerror,Median\nincome,Standard\nerror
5,United States,61372,335,59039,436,56516,321,53657,392,53585,...,27225,139,26061,127,24897,129,23618,128,22415,102
6,Alabama,51113,845,47221,2301,44509,3419,42278,1529,47320,...,19948,912,19734,1147,19132,885,18333,760,17310,605
7,Alaska,72231,2719,75723,4086,75112,3485,67629,3153,72472,...,33103,1183,33233,1497,31356,1017,34782,1089,32356,1473
8,Arizona,61125,2642,57100,1971,52248,2008,49254,2304,52611,...,26435,843,26749,892,25500,718,23877,744,21425,609
9,Arkansas,48829,2642,45907,2165,42798,1572,44922,2546,39376,...,20172,706,18827,1008,18730,765,17451,764,15674,748
10,California,69759,1452,66637,1075,63636,1711,60487,894,60794,...,30287,634,30146,538,29010,570,26981,350,25287,364
11,Colorado,74172,2982,70566,4125,66596,3682,60940,2414,67912,...,26214,1285,26476,1075,27192,926,28182,850,25801,805
12,Connecticut,72780,3509,75923,3404,72889,4449,70161,2665,69291,...,36213,1293,32862,1362,32721,1605,31090,1129,29951,1238
13,Delaware,62318,3300,58046,2992,57756,3392,57522,2970,54091,...,30505,1167,29244,875,25626,1212,22980,1366,25819,1027
14,D.C.,83382,3319,70982,2734,70071,2861,68277,4402,60057,...,26741,748,27455,1285,24322,1252,21076,756,20408,860

In [5]:
# FROM NOTES: emissions: emissions and generation resource integrated database (epa.gov)

# this file is for a summary of 2016 "State Output Emission rates
# SOURCE: https://www.epa.gov/energy/emissions-generation-resource-integrated-database-egrid

emissionsfile = os.path.join('..','Resources', 'eGrid2016.xlsx')
emissions_df = pd.read_excel(emissionsfile, sheet_name='Table 3', encoding='UTF-8')
emissions_df.head(15)



# OTHER NOTES: eGRID_All_Files_1996_thru_2016_data.zip contains all files from all editions of eGRID including operational data for the following years:
#   1996, 1997, 1998, 1999, 2000, 2004, 2005, 2007, 2009, 2010, 2012, 2014, and 2016.

,3. State Output Emission Rates (eGRID2016),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
NaN,State,Total output emission rates,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,(lb/MWh),NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,CO2,CH4,N2O,CO2e,Annual NOx,Ozone Season NOx,SO2
NaN,AK,925.862,0.063,0.009,930.013,6.632,6.498,0.552
NaN,AL,912.917,0.069,0.01,917.468,0.418,0.389,0.404
NaN,AR,1115.65,0.105,0.015,1122.59,0.924,0.948,1.611
NaN,AZ,932.225,0.067,0.011,937.072,0.625,0.603,0.238
NaN,CA,452.541,0.026,0.003,454.059,0.475,0.446,0.037
NaN,CO,1468.37,0.146,0.021,1477.94,1.12,1.127,0.705
NaN,CT,498.467,0.061,0.008,502.135,0.321,0.346,0.035
NaN,DC,481.786,0.023,0.002,483.042,4.578,4.551,0.098
NaN,DE,887.415,0.033,0.004,889.337,0.397,0.393,0.121
NaN,FL,1024.2,0.077,0.01,1028.97,0.546,0.56,0.374
NaN,GA,1001.75,0.086,0.013,1007.45,0.446,0.334,0.359
NaN,HI,1522.1,0.157,0.024,1532.88,4.492,4.229,7.505